---
layout: default
---

<div class="home">

  <h1 class="page-heading" align="center">Nuestros relojes más vendidos</h1>

  <!--ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul-->

  <div class="row">
    {% for watch in site.character limit: 3%}
      <div class="col s4">
        <product-watch onclick="select_product('{{watch.title}}')" img ="{{watch.image}}" title="{{watch.title}}" description="{{watch.description}}" link="{{watch.link}}}" price="{{watch.price}}"></product-watch>  
      </div>
    {% endfor %}
  </div>

  <div id="eleccion" class="eleccion">
    <p id="text-select" class="text-select"> Pulse un producto para seleccionarlo </p>
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>


  <script type="text/javascript" src="./assets/js/products.js"></script>

</div>
